.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
form-submit{
width: 100%;
  font-size: 1.4rem;
  font-weight: 700;
  border-radius: 4px;
  background: #44b669;
  background: -webkit-gradient(linear, left top, left bottom, from(#44b669), to(#40ad57));
  background: linear-gradient(180deg, #44b669 0, #40ad57);
  border: 1px solid #49a861;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
  outline: none;
  color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
  height: 42px;
  cursor: pointer;
  position: relative;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
